{% extends 'base.html' %}


{% block content %}


    <div class="container">
        <div class="row">
            {% for object in object_list %}
                <div class="col s6">

                    <h5>{{ object.title }}</h5>
                    <p>{{ object.content }}</p>
                    <a class="btn" href="{% url 'blogs:update' object.pk %}">Update</a>

                </div>

            {% endfor %}
        </div>
    </div>

    <a  class="btn blue" href="{% url 'blogs:create' %}">Click to Create new blog</a>

{% endblock %}